# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Bb]in/

# NuGet packages
**/packages/*
!.nuget/packages/

# Windows
Thumbs.db
ehthumbs.db

# User-specific files
*.db
*.db-journal
*.log